.side-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 12%;
    height: 100%;
    margin-top: 4%;
    background: #2e2e2e;
    z-index: 5;
}

.side-navbar ul {
    width: 100%;
    padding: 0;
    margin-bottom: 0%;
    li {
        display: block;
    }
    a {
        display: flex;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: Futura, Trebuchet MS, Arial, sans-serif;
        font-size: 0.7em;
        color: #f8faff;
        padding: 25px 30px  !important;
        text-align: center !important;
        transition: background .25s, box-shadow .15s;
        &:hover {
            color: #f8faff;
            background: #383838;
            box-shadow: 0px 0px 6px 0px #E8175D;
        }
        @media all and (min-width: 545px) {
            padding: 20px; 
        }
        .icon-sidebar{
            color: #f8faff;
            width: auto;
            height: 26px;
            padding-right: 5%;
        }
        .title-sidebar{
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }
}

.underline-sidebar{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    border-bottom: 2px solid #E8175D;
    width: 100%;
}
