nav {
    width: 100%;
    display:flex;
    align-items:center;
    background: linear-gradient(90deg, #ffd800 80%, #000000 20%);
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-button{
    color: #eeeeee;
    min-width: 23%;
    background-color:#000000;
    -webkit-transform:skew(-25deg);
    transform:skew(-25deg);
    display:inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}

.navbar-button:hover{
    color: #ffd800;
}

.heart {
    width: 30%;
    margin: 0 auto;
    display: block;
    margin: initial;
    padding: 0px 0px 0px 0px;
}

.search-navbar{    
    width: 60%;
    input, textarea{
        color: #272727;
        border: 0;
        border-radius: 0%;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #000000;
    }
    input:focus{
        background: transparent;
        color: #000000;
        border-bottom: 1px dashed #000000;
        box-shadow: none;
    }
    .input-group-text{
        background-color: transparent;
    }
    .icon-search-navbar{
        width: 100%;
        color: #000000;
        cursor: pointer;    
    }
}

.log-navbar{
    width: 30%;
    font-size: 12px;
    letter-spacing: 3px !important;
}