.sitemap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2%;
    display:flex;align-items:center;
    background: #131313;
    z-index: 6;
    padding-top: 3px;
    padding-bottom: 3px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #131313;
        font-size: 12px;
      }
      
      li {
        float: left;
        display: block;
      }
      
      li a {
        display: inline-flex;
        color: #f8faff;
        text-align: center;
        padding-right: 25px;
        text-decoration: none;
        justify-content:center;align-items:center;
      }
      
      li a:hover {
        background-color: #131313;
        color: #E8175D;
      }

      .icon-sidebar{
          margin-right: 5px;
          display:flex;justify-content:center;align-items:center;
      }
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
  .sitemap{
    ul {
        font-size: 11px;
      }
  }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .sitemap{
    ul {
        font-size: 10px;
      }
  }
}