footer{
    width: 100%;
    text-align: center;
}

.footer-mobile{
    background-color: #000;
    padding-bottom: 1%;
}

.footer-mobile .navbar-mobile-bottom{
    border-top: 1px solid #E8175D;
    .col-fix{
        padding-right: 0% !important;
        margin-right: 0% !important;
        padding-left: 0% !important;
        margin-left: 0% !important;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #000;
      }
      
      li {
        width: 25%;
        float: left;
        height: 100% !important;
      }
      
      li a {
        height: 100%;
        color: #f8faff;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
        justify-content:center;
        align-items:center;
        text-decoration: none;
        margin:0 auto;
      }
}
