.box2{
    position:relative;
    overflow:hidden;
    border: 0;
    border-radius: 0;
    a{
        color: #E8175D !important;
    }
    cursor: pointer;
    img{
        z-index:3;
    }
    video{
        display: none;
    }
}

.box2:hover{
    a{
        color: #E8175D !important;
    }
}

.box2-media:hover, .box2-media:active, .box2-media:focus{
    a{
        color: #E8175D !important;
    }
    img{
        display: none;
    }
    video{
        display: block;
        z-index:1;
        background-color: #000000;
    }
}

.loading-box{
    position: absolute;
    z-index:1;
    border-top: 2px solid #E8175D;
    width:0;
    transition: width 0.5s ease-in-out;
}

.box2 .box-code{
    top:0%; 
    color:#f8faff; 
    text-align: right;
    width:20%;
    padding-right: 4%;
    position:absolute;
    right:0%;
    z-index:4;
}

.box2 .post{
    .box-code{
        display:flex;justify-content:flex-end;align-items:right;
    }
    .box-time{
        display:flex;justify-content:flex-end;align-items:center;
    }
    text-transform:uppercase;
    text-align:center !important;
    font-size:11px;
    letter-spacing: 1.5px;
}

.box2 .title{
    font-size:13px;
    margin:0; 
    font-weight: 260 !important;}

.box2 .box-content{
    width:100%;
    padding:5px 10px;
    color:#f8faff;
    background-color: #000000;
    text-align: justify;
    z-index:1;
}

.box2 .title-mobile{
    font-size:13px;
}

.box2 .box-content-mobile{
    width:100%;
    padding:1% 0%;
    color:#f8faff;
    background-color: #000000;
    text-align: center;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {

}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
            
    .box2 .title{font-size:12px;}

    .box2 .box-content{padding:5px 5px;}
}

@media screen and (min-width: 992px) and (max-width: 1279px) {

    .box2 .post{font-size:11px;}
    
    .box2 .title{font-size:10px;}

    .box2 .box-content{padding:5px 2px;}
}

@media screen and (min-width: 800px) and (max-width: 991px) {
    .box2 .box-time{
        height: 15%;
    }
        
    .box2 .post{font-size:11px;}
    
    .box2 .title{font-size:8px;}

    .box2 .box-content{padding:5px 2px;}
}

@media screen and (min-width: 621px) and (max-width: 799px) {
    .box2 .box-time{
        height: 15%;
    }

    .box2 .post{font-size:9px !important;}

    .box2 .title{font-size:8px;}

    .box2 .box-content{padding:5px 2px;}
}

@media screen and (min-width: 380px) and (max-width: 620px) {
    .box2 .box-time{
        height: 15%;
    }
    
    .box2 .post{font-size:12px !important;}

    .box2 .title{font-size:10px;}

    .box2 .box-content{padding:5px 2px;}
}