.box00{
    overflow:hidden;
    position:relative;
    border-width: 0;
    border-radius: 0;
    margin-top: 4%;
    margin-bottom: 4%;
}

.box00:before{position:absolute;content:""}
.box00:before{
    width:150%;
    height:10%;
    background:#0000005f;
    top:80%;left:0%;z-index:1;
}

.box00 .box-code{width:100%;padding:0px 10px;position:absolute;left:0;z-index:2;transition:all 0.8s ease 0s;top:79.5%;left:-1%;color:#FFE4FA;}
.box00 .post{display:inline-block;font-size:14px;text-decoration-line: underline;text-decoration-color: #da0000;text-transform:uppercase}

@media screen and (min-width: 1601px) and (max-width: 1919px) {

}

@media screen and (min-width: 1280px) and (max-width: 1600px) {

}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .box00{
        width:185px;
    }
    .box00 .box-code{top:78%;}
    .box00 .post{font-size:13px}
}

@media screen and (min-width: 800px) and (max-width: 991px) {
    .box00{
        width:150px;
    }
    .box00 .box-code{top:78%;}
    .box00 .post{font-size:12px}
    .box00 .post{margin-top:0px}
}

@media screen and (min-width: 620px) and (max-width: 799px) {
    .box00{
        width:150px;
    }
    .box00 .box-code{top:78%;}
    .box00 .post{font-size:12px}
    .box00 .post{margin-top:0px}
}

@media screen and (max-width: 620px) {

}