.box21{
    position:relative;
    overflow:hidden;
    border-width: 0;
    border-radius: 0;
    height: auto;
    a{
        color: #f8faff !important;
    }
    cursor: pointer;
    margin-top: 1%;
    img{
        width:100%;
        height:auto;
        z-index:3;
    }
    video{
        width: 100%;
        height: auto;
        z-index:1;
    }
    margin-bottom: 10%;
}
.box21:hover{
    a{
        color: #E8175D !important;
    }
}

.box21 .box-time{top:63%; color:#f8faff; text-align: right;width:100%;padding-right: 2%;position:absolute;left:0;z-index:4; 
    -webkit-box-shadow: inset 0px -40px 60px -30px #16151c !important;
    -moz-box-shadow: inset 0px -40px 60px -30px #16151c !important;
    box-shadow: inset 0px -40px 60px -40px #16151c !important;}

.box21 .box-time-v2{top:69%; color:#f8faff; text-align: right;width:100%;padding-right: 2%;position:absolute;left:0;z-index:4; 
        -webkit-box-shadow: inset 0px -40px 60px -30px #16151c !important;
        -moz-box-shadow: inset 0px -40px 60px -30px #16151c !important;
        box-shadow: inset 0px -40px 60px -40px #16151c !important;}

.box21 .box-code{top:63%; color:#f8faff; text-align: left;}
.box21 .box-code{width:50%;padding-left: 2%;position:absolute;left:0;z-index:4;}

.box21 .box-code-v2{top:69%; color:#f8faff; text-align: left;}
.box21 .box-code-v2{width:50%;padding-left: 2%;position:absolute;left:0;z-index:4;}

.box21 .post{text-transform:uppercase}
.box21 .post{display:inline-block;font-size:12px; letter-spacing: 1.5px;}

.box21 .title{font-size:13px;margin:0; font-weight: 260 !important;}
.box21 .box-content{width:100%;padding:5px 10px;color:#f8faff;background-color: #1e1e1e;text-align: justify;z-index:1;}

.static {
    position:absolute;
    background: white;
}
  
.static:hover {
    opacity:0;
}

@media screen and (min-width: 1601px) and (max-width: 1919px) {

}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .box21 {
        margin: 0% 2% 2% 2%;
    }
    .box21 .box-code{top:55%;}
    .box21 .box-time{top:55%;}
    .box21 .box-code-v2{top:60%;}
    .box21 .box-time-v2{top:60%;}
    .box21 .title{font-size:11px;}
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    .box21 {
        margin: 0% 2% 2% 2%;
    }
    .box21 .box-code{top:54%;}
    .box21 .box-time{top:54%;}
    .box21 .box-code-v2{top:59%;}
    .box21 .box-time-v2{top:59%;}
    .box21 .title{font-size:9px;}
}

@media screen and (min-width: 800px) and (max-width: 991px) {
    .box21 {
        margin: 0% 1% 1% 1%;
    }
    .box21 .box-code{top:54%;}
    .box21 .box-time{top:54%;}
    .box21 .box-code-v2{top:59%;}
    .box21 .box-time-v2{top:59%;}
    .box21 .title{font-size:9px;}
}

@media screen and (min-width: 620px) and (max-width: 799px) {

}

@media screen and (max-width: 620px) {
    .box21 {
        margin: 0% 2% 3% 2%;
    }
    .box21 .box-time{top:64%;}
}