.secondarybar{
  width: 100%;
  height: 1.8vh;
  display:flex;
  background: #161616;

  ul {
      text-align:right;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-size: 11px;
      height: 100%;
    }
    
    li {
      display:inline-block;
      height: 100% !important;
    }
    
    li a {
      height: 100%;
      display: inline-flex;
      color: #f8faff;
      letter-spacing: 2px;
      text-align: center;
      justify-content:center;
      align-items:center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0px 20px 0px 20px;
    }
    
    li:hover {
      background: #383838;
    }

    .icon-sidebar{
        margin-right: 5px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}