.body-admin{
  background-color: #fff;
}

.fluid-full{
  margin: 0 !important;
  padding: 0 !important;
}
  
#wrapper {
  display: flex;
}
  
#content-wrapper{
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
}

.icon-red{
  color:  #ff382f;
}

.icon-green{
  color:  #2ecc71;
}