@media screen and (min-width: 1280px) and (max-width: 1366px) {
    .content{
        position: relative;
        width: 85%;
        left: 6%;
        padding-top: 7% !important;
    }
}

#app{
    min-height: 100%;
    position: relative;
}

body
{	
    background-color: #080808;
    font-family: Arial, sans-serif;
    width: 100%;    
}

.content{
    padding-top: 6%;
    padding-bottom: 5%;
}

.need-space{
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-white{
    color:#ffffff;
    font-weight: 100;
    letter-spacing: 2.5px;
    padding-top:5px;
    text-decoration: underline;
}

.title-white:hover{
    color:#ffffff;
    
}

.btn-more{
    color:#f8faff !important;
    border-color: #FFE4FA !important;
}

.btn-more:hover{
    color: #E8175D !important;
    border-color: #E8175D !important;
}

.custom-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFE4FA;
    color: #FFE4FA;
    letter-spacing: 2px;
    text-align: left;
    margin: 2% 0% !important;
}

.user_card {
    height: 210px;
    width: 350px;
    background: #4a4860;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: auto;  
    margin-bottom: auto;
  }

.pagination .paginate-index{
    border-color: #FFC4EB !important;
    color: #FFC4EB !important;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
}

.pagination .paginate-prev{
    border-color: #FFC4EB !important;
    color: #FFC4EB !important;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
}

.pagination .paginate-next{
    border-color: #FFC4EB !important;
    color: #FFC4EB !important;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.7);
}

/*============================Categories Page========================================*/

.category-title{
    color: #FFE4FA !important;
    border-color: #FFE4FA !important;
    width: 250px;
    margin: 5px 0px;
}

.category-title:hover{
    color: #FFC4EB !important;
    border-color: #FFC4EB !important;
}

/*============================Dashboard Page========================================*/

.category-button{
    color: #FFE4FA !important;
    border-color: #FFE4FA !important;
    width: 200px;
    margin: 5px 0px;
}

.category-button:hover{
    color: #FFC4EB !important;
    border-color: #FFC4EB !important;
}

.simple-button{
    color: #FFE4FA !important;
    border-color: #FFE4FA !important;
    width: 100%;
    margin: 5px 0px;
}

.simple-button:hover{
    color: #FFC4EB !important;
    border-color: #FFC4EB !important;
}

.active{
    background-color: rgb(247, 119, 204) !important;
}

.dashboard-card{
    border-color: #E8175D !important;
}

.card-header{
    background-color: #E8175D;
    color: #FFE4FA;
}

.card-body{
    color: #FFE4FA;
    background-color: #16151c;
}

.table{
    color: #FFE4FA;
    background-color: #4A4860;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #FFE4FA;
  }

.tag{
    border-style: solid;
    border-radius: 5px;
    border-width: 1px !important;
    color: #FFE4FA;
    border-color: #E8175D !important;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1% 2%;
}
/*============================Login Page========================================*/
.user_card {
    height: 100%;
    width: 350px;
    background: #4a4860;
    border-radius: 5px;
    margin-top: 10%;  
    margin-bottom: 10%;
}

.user_card img {
    padding-top: 1%;
}

.user_card form{
    padding-top: 1%;
    padding-bottom: 2%;
}
/*============================Jav Page========================================*/
@media screen and (min-width: 1px) and (max-width: 389px) {
    .jav-title{
        font-size:10px !important;
    }
    .jav-extra{
        font-size:12px !important;
    }
}

@media screen and (min-width: 390px) and (max-width: 750px) {
    .jav-title{
        font-size:12px !important;
    }
    .jav-extra{
        font-size:12px !important;
    }
}

@media screen and (min-width: 751px) and (max-width: 974px) {
    .jav-title{
        font-size:13px !important;
    }
    .jav-extra{
        font-size:13px !important;
    }
}

@media screen and (min-width: 975px) and (max-width: 1190px) {
    .jav-title{
        font-size:13px !important;
    }
    .jav-extra{
        font-size:13px !important;
    }
}
.container-jav{
    border-style: solid;
    border-radius: 0.5%;
    border-width: 1px;
    border-color: #4A4860;
}

.container-recommended{
    background-color: #1b1927;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5%;
    border-color: #4A4860;
    padding-left: 0.5%;
    padding-right: 0.5%;

    .box2 .box-content{
        background-color: #1b1927;
    }
}

.jav-title{
    padding: 1% 2% 1% 2%;
    text-align: justify;
    height: 8%;
    background-color: #4A4860;
    font-size:16px;
    color: #FFE4FA;
}

.jav-extra{
    padding: 0.5% 2%;
    text-align: justify;
    background-color: #1b1927;
    font-size:16px;
    color: #FFE4FA;
}

.jav-extra b{
    font-size:12px;
    display:inline;
    padding-right: 1%;
}

.jav-extra a {
    color: #E8175D;
    padding-right: 0.15%;

}

.jav-extra a:hover {
    color: rgb(201, 22, 81);
}
/*============================Plyr CSS========================================*/

.plyr--full-ui input[type=range] {
    color: #E8175D !important;
  }
  
  .plyr__control--overlaid {
    background: rgba(232, 23, 93, .8) !important;
  }

  .plyr--video .plyr__control.plyr__tab-focus,
  .plyr--video .plyr__control:hover,
  .plyr--video .plyr__control[aria-expanded=true] {
    background: #E8175D !important;
  }
  
  .plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px rgba(232, 23, 93, .5) !important;
  }
  
  .plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #E8175D !important;
  }