.category-title{
    color: #000 !important;
    border-color: #000 !important;
    width: 250px;
    margin: 5px 0px;
    box-shadow: none !important;
    border-radius: 0px;
}

.category-title:hover{
    color: #f8faff !important;
    border-color: #da0000 !important;
    background-color: #000000;
}