.category-title{
    color: #f8faff !important;
    border-color: #f8faff !important;
    width: 250px;
    margin: 5px 0px;
    box-shadow: none !important;
}

.category-title:hover{
    color: #f8faff !important;
    border-color: #E8175D !important;
}