







.dashboard-card{
    border-color: #E8175D !important;
}

.card-header{
    background-color: #E8175D;
    color: #f8faff;
}

.card-body{
    color: #f8faff;
    background-color: #2e2e2e;
}



  
  .card-upload {
    border-width: 0;
  }
  
  .card-file {
    margin: 1% 1% 1% 0%;
  }
  
  .card-file-body {
    padding-top: 10%;
    padding-bottom: 2%;
    cursor: pointer;
  }
  
  .card-file-footer {
    cursor: pointer;
  }
  
  
  .bg-jav4free {
    background-color: #E8175D;
  }