.content-jav{
    position: relative;
}

.container-jav{
    border-style: solid;
    border-radius: 0.5%;
    border: 1px solid #E8175D;
}

.container-recommended{
    background-color: #000000;
    border-style: solid;
    border-radius: 0.5%;
    border: 1px solid #f8faff;
    padding: 1.5% 0.5%;
}

.jav-title{
    padding: 1% 2% 1% 2%;
    text-align: justify;
    justify-content:center;
    align-items:center;
    height: 8%;
    background-color: #131313;
    font-size:12px;
    letter-spacing: 2px;
    color: #f8faff;
    border-bottom: 2px solid #E8175D;
    .title{
        text-transform: uppercase;
        font-weight: 600;
    }
}

.jav-details{
    height: 100%;
    .view-icon{
        display:inline;
        align-items:center;
    }
    p{
        display:inline;
        align-items:center;        
        font-size:10px;
        margin-left: 10px;
    }
}

.btn-options{
    color: #f8faff;
    font-size: 9px;
    border: 1px solid #E8175D;
    width: 100%;
    text-transform: uppercase;
    p{
        display: inline;
    }
    .favorite-icon{
        color:#E8175D; 
    }
    .favorite-icon-active{
        color:#871037; 
    }
    .bug-icon{
        color:#E8175D; 
    }
    .bug-icon-active{
        color:#871037; 
    }
}

.btn-options:hover{
    color: #f8faff;
    background-color: #444444;
}

.jav-extra{
    padding: 0.5% 2%;
    text-align: justify;
    justify-content:center;
    align-items:center;
    background-color: #000000;
    font-size:12px;
    letter-spacing: 1px;
    color: #f8faff;
}

.jav-extra a {
    color: #E8175D;
    padding-right: 0.15%;
    display: inline-block;
}

.jav-extra a:hover {
    color: #f8faff;
}

.plyr--full-ui input[type=range] {
    color: #E8175D !important;
  }
  
  .plyr__control--overlaid {
    background: rgba(232, 23, 93, .8) !important;
  }

  .plyr--video .plyr__control.plyr__tab-focus,
  .plyr--video .plyr__control:hover,
  .plyr--video .plyr__control[aria-expanded=true] {
    background: #E8175D !important;
  }
  
  .plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px rgba(232, 23, 93, .5) !important;
  }
  
  .plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #E8175D !important;
  }

@media screen and (min-width: 1601px) and (max-width: 1919px) {

}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
    .container-recommended{
        padding: 1.5% 0.5%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {

}

@media screen and (min-width: 800px) and (max-width: 991px) {
    .jav-title{
        display: flex;
        padding: 1% 5% 1% 2%;
        text-align: left;
        justify-content:center;
        align-items:center;
        height: 8%;
        font-size: 9px;
        letter-spacing: 1px;
        .favorite-button{
            width:5%;
            padding-left: 8%;
            padding-right: 3%;
            font-size: 20px;
        }
    }

    .jav-extra{
        text-align: left;
    }
}

@media screen and (min-width: 620px) and (max-width: 799px) {

    .jav-title{
        display: block;
        padding: 1% 5% 1% 2%;
        text-align: left;
        justify-content:center;
        align-items:center;
        height: 8%;
        font-size: 9px;
        letter-spacing: 1px;
        .favorite-button{
            width:5%;
            padding-left: 8%;
            padding-right: 3%;
            font-size: 20px;
        }
    }

    .jav-extra{
        text-align: left;
    }
}

@media screen and (max-width: 620px) {

    .jav-title{
        display: flex;
        padding: 1% 5% 1% 2%;
        text-align: left;
        justify-content:center;
        align-items:center;
        height: 8%;
        font-size: 9px;
        letter-spacing: 1px;
        .favorite-button{
            width:5%;
            padding-left: 8%;
            padding-right: 3%;
            font-size: 20px;
        }
    }

    .jav-extra{
        text-align: left;
    }
}
