.custom-input-login{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E8175D;
    color: #f8faff;
    letter-spacing: 2px;
    text-align: left;
    margin: 2% 0% !important;
    box-shadow: none !important;
    width: 60% !important;
}

.user_card {
    height: 100%;
    width: 25vw;
    background: #18191a;
    border-radius: 0px;
    margin: 10%;
}

.user_card img {
    height: 80px;
    width: 80px;
}
