.custom-input-login{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E8175D;
    color: #f8faff;
    letter-spacing: 2px;
    text-align: left;
    margin: 2% 0% !important;
    box-shadow: none !important;
    width: 90% !important;
}

.user_card {
    height: 100%;
    width: 25%;
    background: #2e2e2e;
    border-radius: 5px;
    margin-top: 10%;  
    margin-bottom: 10%;
}

.user_card img {
    padding-top: 1%;
}

.user_card form{
    padding-top: 1%;
    padding-bottom: 2%;
}