footer{
    width: 100%;
    text-align: center;
    a{
        color: #7DF9FF;
    }
    a:hover{
        color: #ffd800;
    }
}

.footer .copyright{
    border-top: 2px solid #ffd800;
    background-color: #000;
    padding-bottom: 0px;
}

.footer .copyright p{
    color: #ffd800 ;
    height: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}
