footer{
    width: 100%;
    text-align: center;
    a{
        color: #000;
    }
    a:hover{
        color: #da0000;
    }
}

.footer .copyright{
    border-top: 1px dashed #da0000;
    background-color: #fff;
    padding-bottom: 0px;
}

.footer .copyright p{
    color: #000 ;
    height: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}
