.crumbs{
    
    background-color: #1b1927;
    margin-bottom: 1%;
}

.crumbs-content{
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

.crumbs-content a {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom:  0 !important;
    color: #E8175D !important;
}